.hrefb {
    text-decoration: none;
    color: black;
}

.hrefw {
    text-decoration: none;
    color: white;
}


.eye {
    position: absolute;
    z-index: 10;
    transition: transform 0.3s ease-in-out;

}

.eye:hover {
    transform: scale(1.05);
}

.btn-orange {
    background-color: #C24C20 !important;
    color: white !important;
}

.bg-orange {
    background-color: #C24C20 !important;
    color: white !important;
}

.btn-orange:hover {
    background-color: white !important;
    color: #C24C20 !important;
    border-color: #C24C20 !important;
}


.border-theme {
    border-color: #bdbab3 !important;
}

.color-theme {
    color: #000000 !important;
}

.color-theme::placeholder {
    color: #000000 !important;
}

@keyframes smooth {
    from {
        opacity: 0;
        max-height: 0;
    }

    to {
        opacity: 1;
        max-height: 1000px;
    }
}

.an {
    animation: smooth 2s linear;
}