.hrefb {
    text-decoration: none;
    color: black;
}

.hrefw {
    text-decoration: none;
    color: white;
}

.eye {
    position: absolute;
    z-index: 10;
    transition: transform 0.3s ease-in-out;

}

.eye:hover {
    transform: scale(1.05);
}

.btn-orange {
    background-color: #DB5C28 !important;
    color: white !important;
}

.btn-orange:hover {
    background-color: white !important;
    color: #DB5C28 !important;
    border-color: #DB5C28 !important;
}

.border-theme {
    border-color: #DB5C28 !important;
}

.color-theme {
    color: #DB5C28 !important;
}

.color-theme::placeholder {
    color: #DB5C28 !important;
}