.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsl(220deg 29% 90% / 50%);
    z-index: 100;
}

.loader-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    object-fit: cover;
    margin-bottom: 20px;
    /* Adds space between the image and text */
}

.loader span {
    font-size: 18px;
    color: black;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}