.blog {
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

.blogImg {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.activate {
    box-shadow: 0 0 10px #C24C20 !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
    