.lgo {
  filter: saturate(6)
}

.ah {
  text-decoration: none;
  position: relative;

}

.ah:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.ah::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.ah.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: white;
}


.cart-icon {
  position: relative;
  font-size: 50px;
  margin: 0;
}

.cart-icon .cart-count {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.remove {
  display: flex;
  flex-wrap: wrap;

}

.add {
  display: none;
}

@media (max-width: 1024px) {
  .remove {
    display: none;
  }

  .add {
    display: flex;

  }

}

.position {
  position: sticky;
  top: 0;
  z-index: 1000;
}