.cat-hover {
    transition: transform 0.3s ease-in-out;
}

.cat-hover:hover {
    transform: scale(1.03);

}

.cat-img {
    height: 200px;
    width: 200px;
}

.slider-container {
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

@media (max-width: 1400px) and (min-width: 1200px) {
    .cat-img {
        height: 180px;
        width: 180px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .cat-img {
        height: 160px;
        width: 160px;
    }
}

@media (max-width: 992px) and (min-width: 800px) {
    .cat-img {
        height: 140px;
        width: 140px;
    }
}

@media (max-width: 800px) and (min-width: 576px) {
    .cat-img {
        height: 180px;
        width: 180px;
    }
}

@media (max-width: 576px) {
    .cat-img {
        height: 160px;
        width: 160px;
    }

}